[submodule "src/SEA-RAFT"]
	path = src/SEA-RAFT
	url = https://github.com/princeton-vl/SEA-RAFT.git
[submodule "src/sam2"]
	path = src/sam2
	url = https://github.com/facebookresearch/sam2.git
[submodule "src/dam2"]
	path = src/dam2
	url = https://github.com/DepthAnything/Depth-Anything-V2.git
[submodule "src/storm"]
	path = src/storm
	url = https://github.com/NVlabs/GaussianSTORM.git
[submodule "src/map-anything"]
	path = src/map-anything
	url = https://github.com/facebookresearch/map-anything.git
